/* ==========================================================================
      Start of custom Webflow CSS
      ========================================================================== */
.w-form-formradioinput--inputType-custom {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-color: #ccc;
  border-bottom-color: #ccc;
  border-left-color: #ccc;
  border-right-color: #ccc;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  width: 12px;
  height: 12px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.w-form-formradioinput--inputType-custom.w--redirected-focus {
  box-shadow: 0px 0px 3px 1px #3898ec;
}

.w-form-formradioinput--inputType-custom.w--redirected-checked {
  border-top-width: 4px;
  border-bottom-width: 4px;
  border-left-width: 4px;
  border-right-width: 4px;
  border-top-color: #3898ec;
  border-bottom-color: #3898ec;
  border-left-color: #3898ec;
  border-right-color: #3898ec;
}

.w-checkbox {
  display: block;
  margin-bottom: 5px;
  padding-left: 20px;
}

.w-checkbox::before {
  content: ' ';
  display: table;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

.w-checkbox::after {
  content: ' ';
  display: table;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  clear: both;
}

.w-checkbox-input {
  float: left;
  margin-bottom: 0px;
  margin-left: -20px;
  margin-right: 0px;
  margin-top: 4px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-color: #ccc;
  border-bottom-color: #ccc;
  border-left-color: #ccc;
  border-right-color: #ccc;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  width: 12px;
  height: 12px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  border-top-color: #3898ec;
  border-bottom-color: #3898ec;
  border-left-color: #3898ec;
  border-right-color: #3898ec;
  background-image: url(https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0px 0px 3px 1px #3898ec;
}

body {
  font-family: Poppins, sans-serif;
  color: #0b2642;
  font-size: 18px;
  line-height: 30px;
}

h1 {
  margin-top: 0px;
  margin-bottom: 12px;
  font-family: Sora, sans-serif;
  font-size: 52px;
  line-height: 68px;
  font-weight: 700;
  letter-spacing: -0.8px;
}

h2 {
  margin-top: 0px;
  margin-bottom: 12px;
  font-family: Sora, sans-serif;
  font-size: 42px;
  line-height: 52px;
  font-weight: 700;
  letter-spacing: -0.4px;
}

h3 {
  margin-top: 0px;
  margin-bottom: 18px;
  font-family: Sora, sans-serif;
  font-size: 32px;
  line-height: 36px;
  font-weight: 600;
}

h4 {
  margin-top: 0px;
  margin-bottom: 12px;
  color: #0b2642;
  font-size: 20px;
  line-height: 32px;
  font-weight: 600;
}

p {
  margin-bottom: 0px;
}

a {
  color: #000;
  text-decoration: none;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.hero-section {
  position: relative;
  display: flex;
  padding-top: 148px;
  padding-bottom: 64px;
  justify-content: center;
  align-items: center;
  background-color: #f5f9fc;
  background-image: url("https://assets.website-files.com/6224b7ed0a5637930760e3f5/622f1a4c9c8a933e224aa964_grid.svg");
  background-position: 50% 0%;
  background-size: auto 12vh;
  text-align: center;
}

.hero-section.full-height {
  min-height: 100vh;
  align-items: flex-start;
  background-color: #fff;
  background-image: none;
}

.hero-section.full-height.template-bg {
  min-height: auto;
  padding-top: 118px;
  padding-bottom: 0px;
  background-image: linear-gradient(135deg, #0b2642, #5b0aa9), url("https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg");
  background-position: 0px 0px, 0px 0px;
  background-size: auto, cover;
}

.hero-section.home-hero {
  min-height: 96vh;
  padding-top: 128px;
}

.container {
  max-width: 1170px;
  padding-right: 24px;
  padding-left: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.lead {
  font-size: 22px;
  line-height: 34px;
}

.lead.hero-lead {
  max-width: 440px;
  margin-right: auto;
  margin-bottom: 32px;
  margin-left: auto;
  font-size: 18px;
  line-height: 30px;
}

.button {
  padding: 12px 32px;
  border-radius: 4px;
  background-color: #7517f8;
  transition: all 180ms ease;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
}

.button:hover {
  background-color: #5312ad;
}

.button.pricing-button {
  width: 100%;
  max-width: 240px;
  margin-top: 24px;
}

.button.template-button {
  background-color: #2de786;
  color: #0b2642;
}

.button.template-button:hover {
  background-color: #2b8278;
}

.highlighted {
  display: inline-block;
  padding-bottom: 18px;
  background-image: url("https://assets.website-files.com/6224b7ed0a5637930760e3f5/6224bc5fb50e4a52eec286f7_underline.svg");
  background-position: 50% 100%;
  background-size: contain;
  background-repeat: no-repeat;
}

.hero-logo {
  height: 18px;
  margin-bottom: 18px;
}

.section {
  display: flex;
  padding-top: 64px;
  padding-bottom: 64px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section.fooer-section {
  padding-bottom: 12px;
  background-color: #f5f9fc;
  background-image: url("https://assets.website-files.com/6224b7ed0a5637930760e3f5/622f1a4c9c8a933e224aa964_grid.svg");
  background-position: 50% 0%;
  background-size: auto 12vh;
}

.section.feature-section {
  padding-top: 24px;
  padding-bottom: 0px;
}

.notes {
  display: flex;
  max-width: 860px;
  margin-top: 56px;
  align-items: center;
}

.single-note {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.note-text {
  position: absolute;
  z-index: 1;
  width: 54%;
  margin-right: 6px;
  margin-bottom: 14%;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

.by-monday {
  height: 28px;
  margin-right: 24px;
}

.by-monday.absolute-position {
  position: absolute;
  left: 24px;
  bottom: 24px;
}

.navbar {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  padding: 8px 24px;
  background-color: #f8fafd;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.08);
}

.navbar-items-menu {
  justify-content: flex-start;
  flex: 1;
  text-align: right;
}

.navbar-logo {
  height: 18px;
  margin-top: -2px;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-link {
  padding: 8px 18px;
  color: #000;
  font-size: 14px;
  line-height: 22px;
}

.nav-link:hover {
  color: #7517f8;
}

.nav-link.w--current {
  color: #000;
}

.nav-link.w--current:hover {
  color: #7517f8;
}

.nav-link.primary-nav-link {
  margin-left: 4px;
  border-radius: 4px;
  background-color: #7517f8;
  color: #fff;
  font-weight: 500;
}

.nav-link.primary-nav-link:hover {
  background-color: #5312ad;
}

.feature-block {
  display: flex;
  width: 100%;
  max-width: 1280px;
  justify-content: center;
  align-items: center;
}

.feture-text {
  max-width: 55%;
  min-width: 55%;
  padding-right: 78px;
  padding-left: 78px;
}

.feture-text.second-feature {
  padding-right: 118px;
}

.feature-video {
  width: 100%;
}

.footer-cta-container {
  display: flex;
  margin-top: 18px;
  padding-top: 24px;
  padding-bottom: 32px;
  justify-content: center;
  align-items: center;
  background-image: url("https://assets.website-files.com/6224b7ed0a5637930760e3f5/6224ccc039463217561e06b0_cta-yellow-circle.svg");
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.footer-legal {
  display: flex;
  padding: 24px;
  align-items: center;
  background-color: #f5f9fc;
  background-image: url("https://assets.website-files.com/6224b7ed0a5637930760e3f5/622f1a4c9c8a933e224aa964_grid.svg");
  background-position: 50% 0%;
  background-size: auto 12vh;
}

.footer-legal.template-footer {
  background-color: transparent;
  background-image: none;
}

.legal-link {
  margin-right: 24px;
  font-size: 14px;
  line-height: 20px;
}

.legal-link:hover {
  color: #7517f8;
}

.legal-link.white-footer {
  color: rgba(255, 255, 255, 0.92);
}

.pricing-container {
  display: flex;
  margin-top: 48px;
  margin-bottom: 64px;
  justify-content: center;
  align-items: center;
}

.pricing-card {
  width: 380px;
  margin-right: 18px;
  margin-left: 18px;
  padding-top: 48px;
  padding-bottom: 48px;
  border-radius: 18px;
  background-color: rgba(255, 255, 255, 0.92);
  box-shadow: 0 18px 48px 0 rgba(0, 28, 49, 0.08), 0 18px 36px 0 rgba(0, 28, 49, 0.08);
}

.pricing-card.join-feedback-form {
  overflow: hidden;
  width: 480px;
  margin-bottom: 64px;
  padding: 36px;
}

.plan-featuared-star {
  height: 24px;
  margin-right: 12px;
}

.plan-featured-label {
  display: flex;
  height: 86px;
  margin-top: 36px;
  margin-bottom: 36px;
  justify-content: center;
  align-items: center;
}

.plan-featured-label.basic-plan-label {
  background-color: #f6efff;
}

.plan-featured-label.pro-plan-label {
  border-top: 1px solid #ebedf3;
  border-bottom: 1px solid #ebedf3;
  background-color: #f8fafd;
}

.plan-featured-text {
  color: #7517f8;
  font-size: 20px;
  font-weight: 600;
}

.plan-details {
  display: flex;
  margin-bottom: 12px;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
}

.secondary-label {
  margin-left: 12px;
  color: #848199;
  font-size: 14px;
  line-height: 24px;
}

.pro-plan-price {
  margin-right: 8px;
  color: #7517f8;
  font-size: 36px;
  line-height: 48px;
  font-weight: 600;
}

.pro-plan-permonth {
  margin-bottom: 4px;
  color: #7517f8;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
}

.pro-plan-price-container {
  display: flex;
  align-items: center;
}

.footer-absolute {
  position: absolute;
  left: 24px;
  bottom: 24px;
}

.beta-label {
  position: relative;
  top: -4px;
  display: inline-block;
  margin-left: 4px;
  padding-right: 8px;
  padding-left: 8px;
  border-radius: 2px;
  background-color: #ebe3fd;
  color: #7517f8;
  font-size: 12px;
  line-height: 22px;
  font-weight: 600;
}

.label {
  margin-bottom: 12px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  text-align: left;
}

.join-form-container {
  margin-top: 32px;
  margin-bottom: 0px;
}

.text-field {
  height: 48px;
  margin-bottom: 24px;
  padding-left: 18px;
  border: 1.5px solid #ebedf3;
  border-radius: 4px;
  transition: all 180ms ease;
  font-size: 14px;
}

.text-field:focus {
  border-color: #7517f8;
}

.d-none {
  display: none;
}

.multi-select-div {
  margin-bottom: 24px;
}

.multi-select-options {
  display: flex;
  flex-wrap: wrap;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.multi-select-option-auto {
  display: flex;
  margin-right: 32px;
  margin-bottom: 18px;
  align-items: flex-start;
  font-size: 14px;
  line-height: 20px;
}

.multi-select-option-auto.checkbox-option {
  width: 185px;
  margin-bottom: 18px;
}

.radio-button {
  width: 16px;
  height: 16px;
  margin-top: 2px;
  margin-right: 12px;
  border-style: none;
  box-shadow: 0 0 0 1px #d0d0d9;
  transition: all 180ms ease;
}

.radio-button.w--redirected-checked {
  border-style: solid;
  border-width: 1.5px;
  border-color: #fff;
  background-color: #7517f8;
  box-shadow: 0 0 0 1px #7517f8;
}

.checkbox {
  width: 16px;
  height: 16px;
  margin-top: 2px;
  margin-right: 12px;
  transition: all 180ms ease;
}

.checkbox.w--redirected-checked {
  border-color: #7517f8;
  background-color: #7517f8;
  background-size: 85%;
}

.checkbox.w--redirected-focus {
  box-shadow: none;
}

.error-message {
  margin-top: 18px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 4px;
  background-color: #f7756b;
  color: #fff;
  font-size: 14px;
  line-height: 22px;
}

.success-message {
  margin-right: -36px;
  margin-bottom: -36px;
  margin-left: -36px;
  padding: 36px;
  background-color: #e9fafb;
  font-size: 16px;
  line-height: 24px;
}

.success-message-title {
  margin-top: 12px;
  margin-bottom: 8px;
  color: #13bcb4;
  font-size: 32px;
  line-height: 44px;
  font-weight: 600;
}

.small-heading {
  font-size: 48px;
  line-height: 56px;
}

.div-block {
  padding-right: 48px;
  padding-left: 48px;
}

.label-2 {
  display: flex;
  margin-bottom: 10px;
  flex-direction: column;
  justify-content: flex-start;
  flex: 0 0 auto;
  font-size: 30px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
}

.label-3 {
  display: flex;
  margin-bottom: 0px;
  flex-direction: column;
  color: #7517f8;
  font-size: 28px;
  line-height: 24px;
  font-weight: 600;
  text-align: center;
}

.amazon {
  display: flex;
  height: 86px;
  margin-top: 36px;
  margin-bottom: 36px;
  justify-content: center;
  align-items: center;
}

.amazon.basic-plan-label {
  width: 100%;
  height: 124px;
  max-width: none;
  flex-direction: column;
  background-color: #f6efff;
}

.container-2 {
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  justify-content: flex-start;
  align-items: center;
}

.image-5 {
  max-width: 95%;
}

.h1-copy {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Poppins, sans-serif;
  color: #0b2642;
  font-size: 48px;
  line-height: 60px;
  font-weight: 700;
}

.two-col-grid {
  display: -ms-grid;
  display: grid;
  width: 100%;
  justify-content: stretch;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  -ms-grid-columns: 1fr 1.5fr;
  grid-template-columns: 1fr 1.5fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.subtitle {
  margin-top: 20px;
  margin-bottom: 30px;
  font-family: Poppins, sans-serif;
  color: #0b2642;
  font-size: 18px;
  line-height: 28px;
}

.primary-button {
  display: flex;
  padding: 12px 32px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: #7517f8;
  transition: all 200ms ease;
  font-family: Poppins, sans-serif;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}

.primary-button:hover {
  background-color: #5312ad;
}

.small-container {
  display: flex;
  max-width: 470px;
  flex-direction: column;
  align-items: flex-start;
}

.small-container.hero {
  align-items: flex-start;
  text-align: left;
}

.main-image {
  display: flex;
  width: 124%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.form {
  display: none;
}

.heading {
  display: flex;
  margin-top: 60px;
  margin-bottom: 60px;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.templates-flex {
  display: flex;
  max-width: 1620px;
  margin-bottom: 64px;
  padding-right: 1.5%;
  padding-left: 2%;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  text-align: left;
}

.template-heading {
  margin-top: 0px;
  margin-bottom: 12px;
  font-family: Sora, sans-serif;
  font-size: 42px;
  line-height: 52px;
  font-weight: 700;
  letter-spacing: -0.4px;
}

.template-tab {
  margin-top: 8px;
  margin-right: 12px;
  margin-left: 12px;
  padding: 0px;
  background-color: transparent;
}

.template-tab.w--current {
  background-color: transparent;
}

.template-tab-menu {
  padding: 0;
  display: flex;
}

body>div.section.wf-section>div {
  max-width: 1170px;
  text-align: center;
}

.template-gallery {
  max-width: 50%;
  min-width: 50%;
  margin: 0;
}

.template-tab-content {
  padding: 0;
}

.template-pane {
  margin-right: 12px;
  margin-bottom: 12px;
  margin-left: 12px;
  border-radius: 8px;
}

.template-text {
  max-width: 560px;
  margin-bottom: 108px;
}

.margin-bottom-36 {
  margin-bottom: 36px;
}

.templates-gallery {
  display: flex;
  margin-top: 82px;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.single-template {
  width: 30.1%;
  margin-right: 1.6%;
  margin-bottom: 36px;
  margin-left: 1.6%;
  text-align: left;
}

.template-gallery-text {
  margin-top: 10px;
  color: rgba(255, 255, 255, 0.92);
  font-size: 14px;
  line-height: 24px;
}

.template-tab-image {
  background: white;
  border-radius: 4px;
  transition: all 120ms ease;
}


.template-shadow {
  display: none;
}

.navbar.hero-navbar {
  box-shadow: 0 4px 18px 0 rgb(0 0 0 / 8%);
}

.template-tab-image:hover {
  box-shadow: 0 0 18px 4px #b03dff;
}

.single-template-image {
  width: 100%;
  border-style: solid;
  border-width: 1px;
  border-color: #ebebeb;
  border-radius: 8px;
}

.single-template-image-container {
  position: relative;
  margin-bottom: 24px;
  border-radius: 8px;
  box-shadow: 0 4px 4px 0 rgba(85, 85, 85, 0.08), 0 6px 12px 0 rgba(85, 85, 85, 0.18);
  transition: all 240ms ease;
}

.single-template-image-container:hover {
  box-shadow: 0 8px 12px 0 rgba(85, 85, 85, 0.08), 0 18px 32px 0 rgba(85, 85, 85, 0.18);
  transform: translate(0px, -12px);
}

.button-container {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsla(0, 0%, 100%, 0.82);
  opacity: 0;
  transition: all 240ms ease;
}

.button-container:hover {
  opacity: 1;
}

.single-template-button {
  display: inline-block;
  padding: 6px 18px;
  border-radius: 4px;
  background-color: #7517f8;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

.related-templates-container {
  max-width: 1620px;
  margin-bottom: -24px;
}

@media screen and (min-width: 767px) {
  .related-templates {
    margin-top: 0px;
    font-family: Sora, sans-serif;
    font-size: 42px;
    line-height: 52px;
    font-weight: 700;
    letter-spacing: -0.4px;
  }
}

.template-tab img {
  border: 4px solid transparent;
}

.template-tab-image:hover {
  border-color: transparent;
}

.template-tab.w--current img {
  border-color: #01EA7C;
}

.text-center {
  text-align: center;
}

.margin-bottom-48 {
  margin-bottom: 48px;
}

.related-headlines {
  margin-bottom: -24px;
  text-align: center;
}

@media screen and (min-width: 1920px) {
  h1 {
    font-size: 64px;
    line-height: 82px;
  }

  .hero-section {
    padding-bottom: 108px;
  }

  .container {
    max-width: 1280px;
  }

  .lead.hero-lead {
    max-width: 480px;
    font-size: 24px;
    line-height: 38px;
  }

  .button {
    font-size: 18px;
    line-height: 28px;
  }

  .notes {
    max-width: 100%;
    margin-top: 82px;
  }

  .note-text {
    font-size: 24px;
    line-height: 36px;
  }

  .footer-legal.template-footer {
    background-color: rgba(255, 255, 255, 0.92);
    background-image: none;
  }

  .container-2 {
    max-width: none;
    margin-top: 0px;
  }

  .image-5 {
    max-width: 88%;
  }

  .two-col-grid {
    margin-right: 60px;
    margin-left: 0px;
    justify-items: stretch;
    align-content: stretch;
  }

  .subtitle {
    margin-right: 80px;
  }

  .small-container.hero {
    max-width: 900vw;
  }

  .main-image {
    width: 114%;
  }
}

@media screen and (max-width: 991px) {
  .button.pricing-button {
    max-width: none;
  }

  .notes {
    margin-top: 48px;
    justify-content: center;
    flex-wrap: wrap;
  }

  .single-note {
    width: 50%;
  }

  .note-text {
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
  }

  .pricing-container {
    width: 100%;
    flex-direction: column;
  }

  .pricing-card {
    margin-right: 0px;
    margin-bottom: 36px;
    margin-left: 0px;
  }

  .two-col-grid {
    justify-items: center;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .subtitle {
    max-width: 80vw;
  }

  .small-container.hero {
    max-width: 90vw;
    margin-bottom: 30px;
    align-items: center;
    text-align: center;
  }

  .main-image {
    width: 100%;
  }

  .templates-flex {
    padding-left: 1.5%;
    flex-direction: column;
    text-align: center;
  }

  .template-gallery {
    max-width: 100%;
    min-width: 100%;
    margin-left: 0px;
  }

  .template-text {
    margin-bottom: 64px;
  }

  .single-template {
    width: 46.8%;
  }

  .single-template-image-container:hover {
    box-shadow: 0 4px 4px 0 rgba(85, 85, 85, 0.08), 0 6px 12px 0 rgba(85, 85, 85, 0.18);
    transform: none;
  }

  .single-template-image-container:active {
    box-shadow: 0 8px 12px 0 rgba(85, 85, 85, 0.08), 0 18px 32px 0 rgba(85, 85, 85, 0.18);
    transform: translate(0px, -12px);
  }

  .button-container:hover {
    opacity: 0;
  }
}

@media screen and (max-width: 767px) {
  .hero-logo {
    display: none;
  }

  .section.fooer-section {
    text-align: center;
  }

  .section.feature-section {
    padding-top: 36px;
    padding-bottom: 36px;
  }

  .navbar-items-menu {
    background-color: #f8fafd;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.12);
  }

  .navbar-container {
    justify-content: space-between;
  }

  .nav-link {
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .nav-link.primary-nav-link {
    margin-right: 8px;
    margin-bottom: 8px;
    margin-left: 8px;
  }

  .feature-block {
    padding-bottom: 48px;
    flex-direction: column;
  }

  .feature-block.reverse-order {
    flex-direction: column-reverse;
  }

  .feture-text {
    max-width: 100%;
    min-width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    text-align: center;
  }

  .feture-text.second-feature {
    padding-right: 0px;
  }

  .pricing-card {
    width: 100%;
    margin-bottom: 24px;
  }

  .pricing-card.join-feedback-form {
    width: 100%;
  }

  .menu-button {
    background-color: #f8fafd;
  }

  .menu-button.w--open {
    background-color: #f8fafd;
    color: #000;
  }

  .container-2 {
    position: relative;
  }

  .h1-copy {
    font-size: 38px;
  }

  .templates-flex {
    padding-right: 0%;
    padding-left: 0%;
  }

  .single-template {
    width: 100%;
    margin-right: 0%;
    margin-left: 0%;
  }

  .template-tab-image {
    border-radius: 2px;
  }
}

@media screen and (max-width: 479px) {
  body {
    font-size: 16px;
    line-height: 26px;
  }

  h1 {
    margin-bottom: 18px;
    font-size: 38px;
    line-height: 56px;
  }

  h2 {
    font-size: 36px;
    line-height: 42px;
  }

  h4 {
    font-size: 18px;
    line-height: 28px;
  }

  .hero-section.full-height {
    padding-top: 118px;
  }

  .lead.hero-lead {
    font-size: 18px;
    line-height: 28px;
  }

  .button.pricing-button {
    margin-top: 24px;
  }

  .highlighted {
    padding-bottom: 8px;
  }

  .note-text {
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
  }

  .by-monday {
    display: block;
    margin-bottom: 12px;
  }

  .pricing-container {
    margin-top: 32px;
  }

  .pricing-card {
    padding-top: 28px;
    padding-bottom: 36px;
  }

  .pricing-card.join-feedback-form {
    margin-bottom: 82px;
    padding: 32px 24px;
  }

  .plan-featured-label.basic-plan-label {
    height: 82px;
    margin-top: 24px;
    margin-bottom: 32px;
  }

  .plan-featured-label.pro-plan-label {
    margin-top: 24px;
    margin-bottom: 32px;
  }

  .plan-featured-text {
    margin-top: 3px;
    font-size: 18px;
  }

  .secondary-label {
    color: #5e5d69;
  }

  .pro-plan-permonth {
    line-height: 19px;
  }

  .small-heading {
    margin-bottom: 12px;
    font-size: 38px;
    line-height: 54px;
  }

  .div-block {
    padding-right: 36px;
    padding-left: 36px;
  }

  .label-2 {
    overflow: auto;
    margin-bottom: 0px;
    justify-content: flex-start;
    font-size: 24px;
    line-height: 10px;
  }

  .label-3 {
    max-width: none;
    margin-right: 10px;
    padding-left: 10px;
    font-size: 18px;
  }

  .amazon.basic-plan-label {
    height: 120px;
    margin-top: -10px;
    margin-bottom: 32px;
  }

  .subscript {
    display: flex;
    margin-right: 10px;
    padding-left: 10px;
    line-height: 24px;
  }

  .h1-copy {
    font-size: 34px;
    line-height: 46px;
  }

  .small-container.hero {
    max-width: 88vw;
  }

  .template-tab {
    margin-right: 4px;
    margin-left: 4px;
    border-radius: 2px;
  }

  .template-pane {
    margin-right: 4px;
    margin-left: 4px;
    overflow: hidden;
  }

  .container.max-size-container.template-container {
    padding-right: 24px;
    padding-left: 24px;
  }

  .template-text {
    margin-bottom: 48px;
  }

  .single-template {
    text-align: center;
  }

  .template-gallery-text {
    margin-top: 8px;
    font-size: 12px;
  }
}

@media screen and (max-width: 991px) {
  #w-node-_6248659c-a451-2e65-1c83-e1c91621a06f-4c0b5f18 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_6248659c-a451-2e65-1c83-e1c91621a076-4c0b5f18 {
    order: -9999;
  }

  #w-node-_6248659c-a451-2e65-1c83-e1c91621a06f-a7ce477a {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_6248659c-a451-2e65-1c83-e1c91621a076-a7ce477a {
    order: -9999;
  }

  #w-node-_6248659c-a451-2e65-1c83-e1c91621a06f-f91e9e78 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_6248659c-a451-2e65-1c83-e1c91621a076-f91e9e78 {
    order: -9999;
  }

  #w-node-_6248659c-a451-2e65-1c83-e1c91621a06f-b7855e34 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_6248659c-a451-2e65-1c83-e1c91621a076-b7855e34 {
    order: -9999;
  }

  #w-node-_6248659c-a451-2e65-1c83-e1c91621a06f-2f991c42 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_6248659c-a451-2e65-1c83-e1c91621a076-2f991c42 {
    order: -9999;
  }
}